.right-container {
    display: flex;
    flex-direction: column;
    flex: 4;
}
.right-container .item{
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: 2px dashed red;
    height: 100px;
}
.right-container .item .row-item{
    display: flex;
    flex: 1;
    background-color: bisque;
    
}